body {
  font-family: "lora", serif; /* Mengganti font menjadi Lora */
  background-color: white;
}

.bg-header {
  background: linear-gradient(135deg, #0174be 0%, #ffc436 100%);
  color: white;
  padding: 50px 0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  color: #333; /* Warna judul list acara */
  font-weight: 700; /* Menebalkan font */
}

.card {
  border-radius: 100px; /* Rounded corners */
}

.card-img-top {
  border-radius: 15px 15px 0 0; /* Lengkungkan hanya bagian atas gambar */
  height: 200px; /* Sesuaikan tinggi gambar */
  object-fit: cover; /* Memastikan gambar mengisi area dengan baik */
}

.card-title {
  font-size: 1.5rem; /* Ukuran font judul kartu */
  font-weight: 700; /* Menebalkan judul */
}

.card-text {
  font-size: 1rem; /* Ukuran font deskripsi kartu */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0; /* Padding footer */
}

button {
  background-color: #333;
  border: none;
  color: white;
  border-radius: 20px; /* Tombol bulat */
}

button:hover {
  background-color: #555;
}
